{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<style>
img{
  height: 400px;
  width: 50%;
  margin-left: 200px;
  align-self: center;
  
}
.center .article h2{
  text-align:center;
  margin-left:10px;
  margin-top:50px;
  font-size:3em;
}
  
.center1{
  padding: 70px 0;
  border: 3px solid green;
}
.center2{
  padding: 70px 0;
  border: 3px solid blue;
}
</style>
<div class="center">
    <div class="article">
        <img src="{{article.thumb.url}}" height="500">
        <h2>{{article.title | capfirst}}</h2>
        <p class="center1">
            {{article.body}}
        </p>
      
    </div>
    {{ total_likes }} Like
    <form action="{% url 'like_post' %}" method="post">
      {% csrf_token %}
      {% if is_liked %}
            <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-danger"> Disike</button>
      {% else %}
      <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-primary">Like</button>
      {% endif %}
    </form>
    Comments:
     {% for comment in comments %}
     <div class="center2">
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
        <div class="col-md-8 card mb-4  mt-3 ">
          <div class="card-body">
            
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
     </form>
            
          </div>
        
        </div>
  </div>
  </div>


{% endblock %}
